body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-font {
  font-family: 'PT Mono', monospace;
}

.section {
  position: relative;
}

.section-lg {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.font-card {
  font-size: .875rem;
}

.section-sm {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.logo-font {
  font-family: 'Righteous', cursive;
}

.footer {
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.link-footer {
  list-style: none;
}

.font-small {
  font-size: .825rem;
}

hr {
  border: 0;
}

.react-logo {
  pointer-events: none;
  margin-bottom: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: react-logo-spin infinite 20s linear;
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}